<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{LayoutPadrao}">

<head>
	<title>Pesquisa de projetos</title>
</head>

<section layout:fragment="conteudo">

	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="clearfix">
				<h1 class="panel-title pesq-titulo-panel">Pesquisa de projetos</h1>
				<a class="btn btn-link pesq-link-panel" href="/projetos/novo">Novo projeto</a>
			</div>
		</div>
	
		<div class="panel-body">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="text-center col-md-1">#</th>
						<th>Título</th>
						<th class="text-center col-md-2">Data de vencimento</th>
						<th class="col-md-1">Adicionar tarefas</th>
					</tr>
				</thead>
				<tbody>
				
					<tr th:each="projeto : ${projetos}">
						<td class="text-center" th:text="${projeto.codigo}"></td>
						<td th:text="${projeto.title}"></td>
						<td class="text-center" th:text="${{projeto.dataVencimento}}"></td>
						<td class="text-center"> 
						<a class="btn btn-link pesq-link-panel" href="/tarefas/novo">Nova tarefa</a>
						</td>
					</tr>
					
					<tr>
						<td colspan="6" th:if="${#lists.isEmpty(projetos)}">Nenhum projeto foi encontrado</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>

</html>